*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
header {
    background:white;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.1);
    display: flex;
    position: sticky;
    top: 0;
}
header nav{
    min-height: 13vh;
    margin: auto;   
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header nav h1{
    font-size:2.2rem;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex: 1;
}
header nav h1 div{
    margin:auto 0;
    width: .7rem;
    height:.7rem;
    background:#ff9f68;
    border-radius: 50%;

}
header nav ul{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-size:.9rem;
    line-height: 2rem;
}
header nav ul li{
    margin-left:2rem;
    list-style: none;

}
header nav ul li a{
    transition: all .1s ease-out;
    padding-bottom: 10px;
    font-weight: 500;
    text-decoration: none;
    color: #ff9f68;
}
header nav ul li a::after{
    content: '';
    width: 0%;
    height: .3rem;
    position: relative;
    margin: auto;
    transition: width .1s;
    background:#ff9f68;
    display: block;
}
header nav ul li a:hover::after{
    /* border-bottom: 4px solid #ff9f68;
    border-width: 100%; */
    width:100%;
    /* padding-bottom: 10px;
    bottom: 0; */
}

section{
    z-index: -1;
}
.pertama .cover{
    z-index: -2;
    background-image: url(1.jpg);
    position: absolute;
    width: 100%;
    height:60vh;
    left: 0;
    opacity: 0.6;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.pertama, .container{
    display: flex;
    align-items: center;
    padding-left:7%;
}
.container .text{
    width: 100%;
    line-height: 3.8rem;
}
.container .text h1{
    font-weight: 600;
    width: 70%;
    font-size:3.9vw;
    line-height: 3.8rem;
}
.container .text p{
    font-weight: 300;
}

section{
    width:100%;
    height:60vh;
}
section div nav ul{
    position: relative;
    display:flex;
    margin-top: 2rem;
}
section div nav ul li{
    list-style: none;
}
section div nav ul li div{
    padding: .6rem 2rem;
    font-weight:bold;
    text-decoration: none;
    color: black;
}
section .tombol .tombol2{
    margin-left: 2rem;
    border: 1px solid black;
    transition:transform .3s;
}
.tombol .tombol2:hover{
    transform: scale(1.1);
}


.tombol .tombol1{
    background:#ff9f68;
    transition: transform .3s, color .3s;
}
.tombol .tombol1:hover{
    color: white;
    transform: scale(1.1);
}
section a{
    text-decoration:none;
}
.kedua{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding:2rem 9rem;
}
.kedua .text{
    width: 50%;
}
.kedua h1{
    line-height: 3.8rem;
    font-size:3vw;
}
.kedua p{
    margin-top:1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    color:rgb(129, 129, 129);
    width:78%;
}
.kedua .text, img{
    height:50%;
}
.ketiga{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding:2rem 9rem;
}
.ketiga .text{
    width: 50%;
}
.ketiga h1{
    line-height: 3.8rem;
    font-size:3vw;
}
.ketiga p{
    margin-top:1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
    color:rgb(129, 129, 129);
    width:78%;
}
.ketiga .text, img{
    height:50%;
}